.loading {
    opacity: 0.5;
    transition: all ease-in-out 500ms;
}

.screenshot {
    width: 100px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border: 1px solid #343a40;
    display: block;
    img {
        width: 100%;
        transition: all ease-in-out 200ms;
    }
    &:hover {
        img {
            opacity: 0.6;
        }
    }
}
