<template>
    <div>

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Home page</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">Home</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    Managing link monitoring.
                                </p>

                                <div class="row" :class="{ loading: loading }">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box">
                                            <span class="info-box-icon bg-danger elevation-1">
                                                <i class="fas fa-th-list"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Monitoring records</span>
                                                <span class="info-box-number">
                                                    <span class="text-danger">{{ form.monitoring_errors }}</span>
                                                    /
                                                    {{ form.monitoring }}
                                                </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                            <span class="info-box-icon bg-primary elevation-1">
                                                <i class="fas fa-link"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Links</span>
                                                <span class="info-box-number">
                                                  {{ form.links }}
                                                </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- fix for small devices only -->
                                    <div class="clearfix hidden-md-up"></div>

                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                            <span class="info-box-icon bg-dark elevation-1">
                                                <i class="fas fa-envelope-open"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Email sending</span>
                                                <span v-if="form.email_notificaiton"
                                                      class="info-box-number text-success">
                                                    Enabled
                                                </span>
                                                <span v-else
                                                      class="info-box-number">
                                                    Disabled
                                                </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                            <span class="info-box-icon bg-info elevation-1">
                                                <i class="fab fa-telegram-plane"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Telegram sending</span>
                                                <span v-if="form.telegram_notification"
                                                      class="info-box-number text-success">
                                                    Enabled
                                                </span>
                                                <span v-else
                                                      class="info-box-number">
                                                    Disabled
                                                </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                    <!-- /.col -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            form: {
                monitoring: 0,
                monitoring_errors: 0,
                links: 0,
                email_notificaiton: false,
                telegram_notification: false
            },
            loading: false,
            api: '/api/home'
        }
    },
    mounted() {
        this.getValues();
    },
    methods: {
        getValues() {
            this.loading = true;
            axios
                .get(this.api)
                .then(response => {
                    this.form = response.data;
                    console.log('getValues', response);
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                    setTimeout(() => {
                        document.location.reload(true)
                    }, 300);
                })
                .finally(() => this.loading = false)
            ;
        }
    }
}
</script>

<style scoped>

</style>
