<template>
    <div>


        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Links for parsing</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                            <li class="breadcrumb-item active">Links for parsing</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">



                                <!-- Buttons panel -->
                                <div class="mb-2">
                                    <button
                                        @click="newRow()"
                                        type="button"
                                        class="btn btn-secondary btn-sm">
                                        New link
                                    </button>
                                </div>


                                <div id="game-panel">

                                    <table
                                        v-if="rows.length"
                                        :class="loading ? 'loading' : ''"
                                        class="table table-striped table-hover table-sm">
                                        <thead class="thead-dark table-hover">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Link</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="row in rows"
                                            :class="{ 'text-muted' : row.disabled, 'font-italic' : row.disabled }"
                                            :key="row.id">
                                            <th scope="row" class="text-nowrap">
                                                {{ row.name }}
                                            </th>
                                            <td>
                                                <a :href="row.link"
                                                   :class="{ 'text-muted' : row.disabled }"
                                                   target="_blank" class="text-break">
                                                    {{ row.link }}
                                                </a>
                                                ({{ row.id }})
                                            </td>
                                            <td class="text-nowrap text-right">

                                                <button @click="deleteRow(row.id)"
                                                        title="Remove"
                                                        class="btn btn-sm btn-danger float-right mr-2">
                                                    <i class="fas fa-trash"></i>
                                                </button>

                                                <div class="custom-control custom-switch float-right">
                                                    <input type="checkbox"
                                                           class="custom-control-input"
                                                           v-model="!row.disabled"
                                                           @change="checkRow(row)"
                                                           :id="'customSwitch' + row.id"
                                                    >
                                                    <label class="custom-control-label"
                                                           :for="'customSwitch' + row.id"
                                                    >
                                                    </label>
                                                </div>

                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div v-else class="alert alert-info" role="alert">
                                        No entries found...
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->


        <form @submit.prevent="submitItem()">
            <div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Adding an item</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body" :class="loading_form ? 'load' : ''">

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="form_name">Name</label>
                                        <input v-model="row.name"
                                               type="text" class="form-control form-control-sm" id="form_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="form_link">Link</label>
                                        <input v-model="row.link"
                                               type="text" class="form-control form-control-sm" id="form_link">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">
                                Close
                            </button>
                            <button v-if="!loading_form" type="submit" class="btn btn-primary">
                                Save
                            </button>
                            <button v-if="loading_form" type="submit" class="btn btn-primary"
                                    disabled>Saving...</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</template>

<script>
export default {
    data: function() {
        return {
            rows: {},
            row: {
                id: '',
                name: '',
                link: '',
                disabled: false
            },
            loading: false,
            loading_form: false,
            api: '/api/links'
        }
    },
    mounted() {
        this.getRows();
    },
    methods: {
        getRows() {
            this.loading = true;
            axios
                .get(this.api)
                .then(response => {
                    this.rows = response.data.rows;
                    console.log(response);
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                    setTimeout(() => {
                        document.location.reload(true)
                    }, 300);
                })
                .finally(() => this.loading = false)
            ;
        },

        deleteRow(id) {
            let conf = confirm('Do you confirm deleting the record?');
            if(conf) {
                this.loading = true;
                axios
                    .delete(this.api + '/' + id)
                    .then(response => {
                        console.log('The entry was successfully deleted');
                        this.getRows();
                    })
                    .catch(error => {
                        console.log('An error occurred');
                        console.log(error);
                    })
                ;
            }
        },
        newRow() {
            this.formClearFields();
            $('#modal-form').modal('toggle');
        },
        submitItem() {
            this.loading_form = true;
            // Добавление
            console.log('add');
            axios
                .post(this.api,
                    this.row
                )
                .then(response => {
                    console.log(response);
                    this.formClearFields();
                    this.getRows();
                    $('#modal-form').modal('toggle');

                    console.log('The entry was successfully added');
                })
                .catch(error => {
                    console.log('An error occurred');
                    this.errors = error.response.data.errors;
                })
                .finally(() => this.loading_form = false)
        },

        formClearFields() {
            this.row.id = '';
            this.row.name = '';
            this.row.link = '';
            this.row.disabled = false;
        },

        checkRow(row) {
            console.log(row);

            this.loading = true;
            axios
                .get(this.api + '/' + row.id + '/edit')
                .then(response => {
                    console.log(response);
                    this.getRows();
                })
                .catch(error => {
                    console.log(error);
                })
            ;

        }


    }
}
</script>

<style scoped>

</style>
