<template>
    <div>


        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Links monitoring</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                            <li class="breadcrumb-item active">Monitoring</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- Filter form -->
                                <div class="bg-light mb-4 p-3">
                                    <div class="form-row">
                                        <div class="col-2">
                                            <input v-model="form_filters.link_id"
                                                   v-on:input="getRows()"
                                                   type="number"
                                                   class="form-control form-control-sm"
                                                   placeholder="Link id">
                                        </div>
                                    </div>
                                </div>



                                <!-- Top -->
                                <div v-if="pagination.per_page < pagination.total"
                                     class="d-flex justify-content-between align-items-end">
                                    <div>
                                        <small>
                                            Items <b>{{ pagination.from }}</b> - <b>{{ pagination.to }}</b>
                                            of <b>{{ pagination.total }}</b>
                                        </small>
                                    </div>
                                    <div>
                                        <pagination :data="rows"
                                                    :limit="2"
                                                    align="right"
                                                    size="small"
                                                    @pagination-change-page="getRows"
                                        >
                                        </pagination>
                                    </div>
                                </div>
                                <div v-else>
                                    <small v-if="pagination.total > 0" :style="loading ? 'opacity: 0' : ''">
                                        <b>{{ pagination.total }}</b> items
                                    </small>
                                </div>

                                <div id="game-panel" class="table-responsive">

                                    <table
                                        v-if="pagination.total > 0"
                                        :class="loading ? 'loading' : ''"
                                        class="table table-striped table-hover table-sm">
                                        <thead class="thead-dark table-hover">
                                        <tr>
                                            <th scope="col">Screenshot</th>
                                            <th scope="col">Link</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Time</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="row in rows.data"
                                            :class="{ 'table-danger': row.has_error }"
                                            :key="row.id">
                                            <th scope="row">
                                                <a :href="row.screenshot" v-if="row.screenshot"
                                                   target="_blank"
                                                   class="screenshot">
                                                    <img :src="row.screenshot" class="img-thumbnail"
                                                         alt="">
                                                </a>
                                            </th>
                                            <td>
                                                <span v-if="row.link">
                                                    <a :href="row.link.link"
                                                       class="text-break"
                                                       target="_blank"
                                                    >{{ row.link.name ? row.link.name : row.link.link }}</a>
                                                    ({{ row.link_id }})
                                                </span>
                                            </td>
                                            <td>
                                                <span v-html="row.description"></span>
                                            </td>
                                            <td class="text-nowrap">
                                                <div>
                                                    <strong>{{ row.date }}</strong>
                                                    <br>
                                                    {{ row.time }}
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <i v-if="row.email_sended"
                                                   style="font-size: 25px;"
                                                   class="far fa-envelope-open mr-2 text-dark"
                                                   title="Email sended"></i>

                                                <i v-if="row.telegram_sended"
                                                   style="font-size: 25px;"
                                                   class="fab fa-telegram-plane mr-2 text-primary"
                                                   title="Telegram report sended"></i>
                                            </td>
                                            <td class="text-right">
                                                <button @click="deleteRow(row.id)"
                                                        title="Remove"
                                                        class="btn btn-sm btn-danger float-right mr-2">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div v-else class="alert alert-info" role="alert">
                                        No entries found...
                                    </div>

                                </div>


                                <!-- Bottom -->
                                <div v-if="pagination.per_page < pagination.total"
                                     class="d-flex justify-content-between align-items-start">
                                    <div>
                                        <small>
                                            Items <b>{{ pagination.from }}</b> - <b>{{ pagination.to }}</b>
                                            of <b>{{ pagination.total }}</b>
                                        </small>
                                    </div>
                                    <div>
                                        <pagination :data="rows"
                                                    :limit="2"
                                                    align="right"
                                                    size="small"
                                                    @pagination-change-page="getRows"
                                        >
                                        </pagination>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->

    </div>
</template>

<script>
export default {
    data: function() {
        return {
            rows: {},
            row: {
                id: '',
                name: '',
                link: '',
                disabled: false
            },
            form_filters: {
                link_id: ''
            },
            pagination: {},
            loading: false,
            loading_form: false,
            api: '/api/monitoring'
        }
    },
    mounted() {
        this.getRows();
        setInterval(() => {
            if(this.pagination.current_page) {
                this.getRows(this.pagination.current_page);
            }
            else {
                this.getRows();
            }
        }, 5000);
    },
    methods: {
        getRows(page = 1) {
            axios
                .get(this.api, {
                    params: {
                        page,
                        link_id: this.form_filters.link_id
                    }
                })
                .then(response => {
                    this.rows = response.data;
                    this.makePagination(response.data);
                    console.log(response);
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                    setTimeout(() => {
                        document.location.reload(true)
                    }, 300);
                })
                .finally(() => this.loading = false)
            ;
        },
        makePagination(response) {
            let pagination = {
                total: response.total,
                from: response.from,
                to: response.to,
                per_page: response.per_page,
                current_page: response.current_page,
                last_page: response.last_page,
                prev_page_url: response.prev_page_url,
                next_page_url: response.next_page_url,
                first_page_url: response.first_page_url,
                last_page_url: response.last_page_url
            };
            this.pagination = pagination
        },
        deleteRow(id) {
            let conf = confirm('Do you confirm deleting the record?');
            if(conf) {
                this.loading = true;
                axios
                    .delete(this.api + '/' + id)
                    .then(response => {
                        console.log('The entry was successfully deleted');
                        this.getRows();
                    })
                    .catch(error => {
                        console.log('An error occurred');
                        console.log(error);
                    })
                ;
            }
        },



    }
}
</script>

<style scoped>

</style>
