<template>
    <div>


        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Notification settings</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
                            <li class="breadcrumb-item active">Notifications</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row" :class="!!loading ? 'loading': ''">

                    <div class="col-md-6">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title mb-0">
                                    <i class="far fa-envelope-open mr-2"></i>
                                    Email notifications
                                </h3>
                            </div>
                            <div class="form-horizontal">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="emails" class="col-sm-2 col-form-label">
                                            Emails
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                v-model="form.emails"
                                                @change="submitForm"
                                                type="text" class="form-control" id="emails"
                                                   placeholder="Comma separated">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="emails_enabled" class="col-sm-2 col-form-label">
                                            Enabled
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                        v-model="form.emails_enabled"
                                                        @change="submitForm"
                                                        type="checkbox" class="custom-control-input" id="emails_enabled">
                                                    <label class="custom-control-label" for="emails_enabled"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title mb-0">
                                    <i class="fab fa-telegram-plane mr-2"></i>
                                    Telegram notifications
                                </h3>
                            </div>
                            <div class="form-horizontal">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="telegram_bot" class="col-sm-3 col-form-label">
                                            Bot token
                                        </label>
                                        <div class="col-sm-9">
                                            <input
                                                v-model="form.telegram_bot"
                                                @change="submitForm"
                                                type="text" class="form-control" id="telegram_bot">
                                            <small class="form-text text-muted">
                                                Create a telegram bot via
                                                <a href="https://telegram.me/botfather" target="_blank">@BotFather</a>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="telegram_chats" class="col-sm-3 col-form-label">
                                            Chat tokens
                                        </label>
                                        <div class="col-sm-9">
                                            <input
                                                v-model="form.telegram_chats"
                                                @change="submitForm"
                                                type="text" class="form-control" id="telegram_chats"
                                                   placeholder="Comma separated">
                                            <small class="form-text text-muted">
                                                Get your id via this bot
                                                <a href="https://telegram.me/userinfobot" target="_blank">@userinfobot</a>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="telegram_enabled" class="col-sm-3 col-form-label">
                                            Enabled
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input
                                                        v-model="form.telegram_enabled"
                                                        @change="submitForm"
                                                        type="checkbox" class="custom-control-input" id="telegram_enabled">
                                                    <label class="custom-control-label" for="telegram_enabled"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>

    </div>
</template>

<script>
export default {
    data: function() {
        return {
            form: {
                emails: '',
                emails_enabled: false,
                telegram_bot: '',
                telegram_chats: '',
                telegram_enabled: false,
            },
            loading: false,
            loading_form: false,
            api: '/api/notifications'
        }
    },
    mounted() {
        this.getValues();
    },
    methods: {
        getValues() {
            this.loading = true;
            axios
                .get(this.api)
                .then(response => {
                    this.form = response.data;
                    // this.form.emails_enabled = !!response.data.emails_enabled;
                    // this.form.telegram_enabled = !!response.data.telegram_enabled;
                    console.log('getValues', response);
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                    setTimeout(() => {
                        document.location.reload(true)
                    }, 300);
                })
                .finally(() => this.loading = false)
            ;
        },
        submitForm() {
            this.loading = true;
            console.log('add');
            axios
                .post(this.api,
                    this.form
                )
                .then(response => {
                    console.log(response);
                })
                .catch(error => {
                    console.log('An error occurred');
                    this.errors = error.response.data.errors;
                })
                .finally(() => this.loading = false)
        }
    }
}
</script>

<style scoped>

</style>
