<template>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li v-for="link in links" class="nav-item">
                <router-link :to="link.href" exact-active-class="active" class="nav-link">
                    <i v-if="link.icon" :class="'nav-icon fas ' + link.icon"></i>
                    <p>
                        {{ link.title }}
                    </p>
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            links: [
                {
                    title: "Home",
                    href: "/home",
                    icon: "fa-tachometer-alt"
                },
                {
                    title: "Monitoring",
                    href: "/home/monitoring",
                    icon: "fa-th-list"
                },
                {
                    title: "Links",
                    href: "/home/links",
                    icon: "fa-link"
                },
                {
                    title: "Notifications",
                    href: "/home/notifications",
                    icon: "fa-cog"
                }
            ]
        }
    }
}
</script>

<style scoped>

</style>
